---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

body {
  font: 400 14px/1.5 Helvetica Neue, Helvetica, "Segoe UI", Roboto, Arial,
    sans-serif;
}

.post-list > li {
  width: 25%;
  display: inline-table;
  margin: 3%;
  border-top: 1px solid gray;
  padding: 2%;
  border-bottom: 1px solid gray;
}

.post-link {
  font-size: 120%;
  font-weight: 600;
  letter-spacing: -1px;
  text-align: center;
  line-height: 1.25;
  color: black !important;
}

.post-title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  @include relative-font-size(2.725);
  // size: ~50px
  font-weight: 600;
  letter-spacing: -1px;
  text-align: center;
  line-height: 1.25;

  @include media-query($on-laptop) {
    @include relative-font-size(2.35);
  }
}

.post-header {
  max-width: 600px;
  margin: 0 auto 30px auto;
}

.post-meta {
  font-size: 15px;
  font-family: Helvetica Neue;
  text-align: center;
}

span.username {
  display: none;
}

.social-media-list {
  text-align: center;
}

.social-media-list li {
  display: inline;
}

.svg-icon {
  fill: #ce0000;
}
